.none {
    display: none !important;
}

.resultados_pesquisa_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}

.resultados_pesquisa {
    display: flex;
    width: 30%;
    margin-top: .5rem;
    gap: .3rem;
    flex-direction: column;
    box-shadow: .1rem .1rem var(--cinza);
    border: 1px solid var(--raisin-black);
    border-radius: 1rem;
}

.resultado_pesquisa, .opcao_pesquisar_pubs {
    padding: .6rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    transition: all 500ms;
    cursor: pointer;
}

.opcao_pesquisar_pubs {
    justify-content: center;
}

.resultado_pesquisa:hover, .opcao_pesquisar_pubs:hover {
    background-color: rgb(17, 17, 17);
}

.username_nomeExib_pesquisa {
    display: flex;
    flex-direction: column;
    margin-left: .6rem;
}