.cadastro,
.login {
    border-radius: .3rem;
    border: 1px solid #ccc;
    padding: .3rem;
}

.cadastro[type=date]:focus {
    background-color: var(--raisin-black-);
}

.cookie_erro {
    position: absolute;
    bottom: 0;
    font-size: .8rem;
    color: red;
    user-select: none;
    -webkit-user-select: none;
}

.campo_obrigatorio {
    color: red;
    margin-left: .2rem;
}

.label_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.df {
    display: flex;
}

.fdr {
    flex-direction: row;
}

.editar_perfil {
    padding: .5rem 1rem;
    background-color: unset;
    border: 3px solid var(--raisin-black);
    border-radius: 1rem;
    color: white;
}