@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
:root {
    --raisin-black: #272635;
    --preto: #080808;
    --roxo-escuro: #380866;
    --lilás: #938DE0;
    --branco: #FCF9FE;
    --cinza: #939194;
    --preto_002: #18161A;
}

body {
    overflow-x: hidden;
    background-color: var(--preto);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}