@keyframes check {
    50% {
        color: green;
    }
    100% {
        color: unset;
    }
}

.w_80p {
    width: 80%;
}

.w_50p {
    width: 50%;
}

.w_100p {
    width: 100%;
}

.texto_publicacao, .texto_comentario {
    padding: .5rem 1rem;
    background-color: unset;
    border: 3px solid var(--raisin-black);
    border-radius: 1rem;
    resize: none;
    color: white;
    transition: all 100ms;
    height: .9rem;
    position: relative;
}

/* .texto_comentario{
    margin-bottom: 1rem;
} */

.texto_publicacao::-webkit-scrollbar {
    display: none;
}

.texto_comentario::-webkit-scrollbar {
    display: none;
}