@keyframes check {
    50% {
        color: green;
    }

    100% {
        color: unset;
    }
}

.w_80p {
    width: 80%;
}

.w_50p {
    width: 50%;
}

.w_100p {
    width: 100%;
}

.h_3rem {
    height: 3rem;
}

.texto_publicar,
.texto_comentar,
.texto_editar_bio {
    padding: .5rem 1rem;
    background-color: unset;
    border: 3px solid var(--raisin-black);
    border-radius: 1rem;
    resize: none;
    color: white;
    transition: all 100ms;
    height: .9rem;
    position: relative;
}

/* .texto_comentar{
    margin-bottom: 1rem;
} */

.texto_publicar::-webkit-scrollbar,
.texto_comentar::-webkit-scrollbar,
.texto_editar_bio::-webkit-scrollbar {
    display: none;
}