.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.center {
    width: -webkit-fill-available;
    padding: 0 1rem;
    border-left: 1px solid var(--cinza);
    border-right: 1px solid var(--cinza);
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
}

.publicar_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    position: relative;
}