.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.right_side {
    right: 0;
    width: 20%;
}

.left_side,
.right_side {
    position: fixed;
    background-color: var(--preto_002);
    height: 100%;
}

.center {
    width: -webkit-fill-available;
    padding: 0 1rem;
    border-left: 1px solid var(--cinza);
    border-right: 1px solid var(--cinza);
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
}

.publicar_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    position: relative;
}