.mensagens_container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.lista_seguidores_reciprocos {
    color: white;
}