.publicacao_container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.comentarios_container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    border-left: 1px solid var(--cinza);
    padding-left: 1.3rem;
}

.comentarios_container::-webkit-scrollbar{
    width: .4rem;
}

.comentarios_container::-webkit-scrollbar-track{
    background-color: var(--preto);
}

.comentarios_container::-webkit-scrollbar-thumb{
    background-color: var(--lilás);
    border-radius: 5px;
}