.publicacao_container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 28rem;
    margin-top: .3rem;
    transition: all 600ms;
    padding: 1rem;
    border-radius: 5px;
}

.publicacao_container:hover {
    background-color: rgb(17, 17, 17);
    cursor: pointer;
}

.info_usuario {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.topo_pub {
    display: flex;
    gap: .9rem;
    color: white;
    align-items: center;
}

.nome_username {
    display: flex;
    gap: .5rem;
}

.nome_exibicao{
    font-weight: 600;
    color: var(--lilás);
}

.username {
    color: var(--cinza);
}

.publicacao_textos {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.dataPub { 
    color: var(--cinza);
}

.publicacoes_opcoes{
    display: flex;
    color: var(--cinza);
    justify-content: space-around;
}

.publicacao_opcao_container{
    align-items: center;
    display: flex;
    gap: .3rem;
    transition: all 100ms;
    border-radius: 4px;
}

.publicacao_opcao_container:hover{
    color: var(--lilás);
}

.comentar_container{
    display: flex;
    transition: all 100ms;
    position: relative;
}